.theme-light {
    --text-link: var(--brand-560);
}
.theme-dark {
    --text-link: var(--brand-430);
}





/*----------------------------------*/


@font-face {
    font-family: "Twemoji Mozilla";
    src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf")
        format("truetype");
    unicode-range: U+1F1E6-1F1FF;
}
@font-face {
    font-family: "dashless";
    size-adjust: 100%; /*adjust this to change word spacing*/
    src: url("https://vendicated.github.io/random-files/Dashless.woff2")
        format("woff2");
    unicode-range: U+002D;
}
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[class^=titleWrapper] > h2, /* top bar in thread view */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
[class^=autocompleteRowContent_] [class*=autocompleteRowHeading_], /* chat autocomplete */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div, /* invite to channel dialog */
[class^=uploadDropModal_] strong, /* file drag upload */
[class^=channelNameSpan_], /* inbox */
[class^=quickswitcher_] [class^=name_] /* ctrl+k */ {
    font-family: "Twemoji Mozilla", "dashless", var(--font-primary);
}
[class^="emptyChannelIcon_"] ~ [class*="description_"] > * {
    font-family: var(--font-primary);
}

[class^="imageWrapper_"] img[class^="lazyImg"] { object-fit: contain !important; }


/*===================================================================*/

.highlight {
    background: color-mix(in srgb, var(--brand-300) 50%, transparent);
}

.mouse-mode.full-motion .message__5126c:hover {
    background: none!important;
}

.button_f7ecac:hover {
    background: transparent;
}


.menu_c1e9c4, .scroller_c1e9c4, .colorDefault_c1e9c4.focused_c1e9c4,
.modeSelected__2ea32 .link__2ea32:before,
.wrapper__2ea32:hover .link__2ea32 {
    border-radius: 8px!important;
}

.menu_c1e9c4 div#message-tts {
    display: none;
}

.separator_c1e9c4, .divider_d9c882 {
    visibility: hidden;
}

.mainCard_f369db .input__0f084 {background: none;}






.button__67645:hover path, .button__201d5:hover path{
    fill: var(--interactive-hover)!important;
}
button.button__67645.enabled__67645:hover, 
span.button__67645.enabled__67645:hover {
    background: transparent;
}
.withTagAsButton_b2ca13:hover, .withTagless_b2ca13:hover {
    color: var(--interactive-hover);
    background: var(--bg-overlay-hover,var(--background-modifier-hover));
}
.listRow__9d78f:hover {
        background: var(--bg-overlay-hover,var(--background-modifier-hover));
}


.box_ee23ac {
    background: var(--bg-overlay-3, var(--background-secondary));}
.box_ee23ac:after {
    background: var(--bg-overlay-3, var(--background-secondary));
    border: none;
    height:10px;
    width: 20px;
    position: absolute;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}


.key_fcddc1 {
    background: var(--bg-overlay-6, var(--background-accent));;
}


.headerChildren_f37cb1 {
        display: none !important;
}  /* I want to remove this fro here, but needs fixing for long server names */


.theme-dark .container_f369db {
    background: var(--bg-overlay-home,var(--home-background));
}
.theme-light .container_f369db {
    background: var(--bg-overlay-1,var(--home-background));
}

.matchingPostsRow_f369db {
    background: var(--bg-overlay-2, var(--background-secondary));
}

.container_f37cb1.clickable_f37cb1.hasBanner_f37cb1.bannerVisible_f37cb1 {
    z-index: 3;
}
.animatedContainer_f37cb1 {
    z-index: 4;
}
header.header_f37cb1 {
    z-index: 5;
}

.hasBanner_f37cb1 .header_f37cb1 {
    background: none!important;
}


.bannerVisible_f37cb1 > .header_f37cb1{
    box-shadow: none!important;
}

.divider_f369db{
    visibility: hidden;
}

.theme-dark .themed__9293f, .theme-light .themed__9293f {
    background: var(--bg-overlay-chat,var(--background-primary));
}

.children__9293f:after {
    display: none;
}




.checked__87bf1 {
    background-color: var(--accent)!important;

}

.checked__87bf1 path{
    fill: var(--accent)!important;
}


.shopForAllBackgroundImage__009d9 {
    display: none;
}

.customizationSection_ace4f5 {
    border-bottom: none;
}

.contentRegion__23e6b .divider__46c3b {
    border-top: none;
}

.sidebarRegion__23e6b .separator_b3f026 {
    background: none;
}






.resizeHandle__01ae2 {
    background: transparent;
}

.theme-light .winButton__421ed,
.theme-light winButtonClose__421ed {
    color: rgba(0, 0, 0, 0.5);
}
.theme-dark .winButton__421ed,
.theme-light winButtonClose__421ed {
    color: rgba(255, 255, 255, 0.5);
}
.theme-light .winButtonMinMax__421ed:hover,
.theme-light winButtonClose__421ed winButton__421ed:hover {
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark .winButtonMinMax__421ed:hover,
.theme-dark winButtonClose__421ed winButton__421ed:hover {
    color: rgba(255, 255, 255, 0.8);
}

button.sortDropdown_f369db.button__201d5.lookFilled__201d5.sizeMin__201d5.grow__201d5,
.sortDropdown_f369db,
button.tagsButton_f369db.button__201d5.lookFilled__201d5.sizeMin__201d5.grow__201d5 {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
}

.button__201d5 .contents__201d5.buttonInner__34c2c,
.addReactButton__34c2c {
    background: var(--bg-overlay-3, var(--background-secondary));
}

h3.defaultColor_b717a1.text-sm-normal__95a78.defaultColor_e9e35f {
    display: none;
}

.content_f75fb0:before,
.searchBar__35e86,
.header_f37cb1,
.chat_f02135:before {
    box-shadow:
        0 1px 0 rgba(0, 0, 0, 0.05),
        0 1.5px 0 rgba(0, 0, 0, 0.025),
        0 2px 0 rgba(0, 0, 0, 0.025) !important;
}

:root {
    --responsive: 1;
}

.container__37e49:before {
    display: none;
}
.voiceChannelsIcon__7aaec {
    display: none;
}
.container__2637a .progressBarContainer_eff079.bar_eff079 {
    display: none;
}

.voiceChannelsButton__29444 {
    border: 0;
}

.text-xs-semibold__767f1.barText__7aaec {
    display: none;
}
.bottom__7aaec {
    margin-bottom: -5px;
}

.searchBarComponent__35e86,
:not(.open__97492) > .searchBar__97492 {
    background: transparent !important;
}

.compactButton__7ff28,
.compactButtonDisabled__7ff28 {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

.role_dfa8b6 {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
}

.badgeList_ab525a {
    background: none !important;
}

.messageInputContainer_f2c0a8 {
    border: 0;
}

.profilePanel_b433b4 .userPanelOuter_c69a7b,
.upload_aa605f {
    background: var(--bg-overlay-3, var(--background-secondary)) !important;
}
.profilePanel_b433b4 .userPanelInner_c69a7b {
    background: transparent !important;
}

.profilePanel_b433b4 .userProfileInner_c69a7b:before {
    background-color: transparent;
}

.userProfileInnerThemedNonPremium_c69a7b {
    background: var(--bg-overlay-3, var(--background-secondary));
}
.profileBadges_f89da9 {
    background: transparent;
}
.spine__5b40b path {
    fill: var(--channel-icon);
}
.spineBorder__5b40b {
    background-color: var(--channel-icon);
}

.sendIcon_aa63ab path {
    fill: var(--interactive-normal);
}
.button__24af7:hover .sendIcon_aa63ab path {
    fill: var(--accent);
}

.channelTextAreaDisabled__74017 .placeholder__1b31f {
    color: var(--text-muted);
}

.channelTextArea_f75fb0.channelTextAreaDisabled__74017,
.channelTextAreaDisabled__74017 .themedBackground__74017 {
    background: transparent !important;
}

.dismissWrapper__29444 {
    opacity: 60%;
}

.profileCustomizationSection__44061 .input__0f084,
.lookFilled__3f413.select__3f413,
.popout__3f413 {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
    border: 0;
}

.focused__3f413 {
    background: var(--bg-overlay-4, var(--background-secondary));
}

.base_b88801 {
    height: 24px;
    background: var(--bg-overlay-3, var(--background-secondary));

    margin-left: -1px;
    margin-bottom: 7px;
    border-radius: 6px;
    padding-right: 10px;
    max-width: fit-content;
}

.messageGroupWrapper__45690 {
    border: 0;
}

.stickerInspected_c6367b .inspectedIndicator_c6367b {
    background: var(--bg-overlay-4);
}
.stickerCategoryGenericSelected__3ad28,
.stickerCategoryGenericSelected__3ad28:hover {
    background: var(--bg-overlay-4);
}

.guildIcon__0fa6d {
    background: transparent;
}

.lookFilled__201d5.colorPrimary__201d5 {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

.newChannel__599fa {
    background-color: var(--brand-experiment) !important;
    color: var(--white-500);
}

.wrapperAudio_f316dd,
.textContainer__4d95d,
.newMosaicStyle__4d95d .footer__4d95d,
.container__2692d,
.container__0f711 {
    border: 0;
    background: var(--bg-overlay-3, var(--background-secondary));
}

.jumpButton_ed0c8c,
.jumpButton__45690,
.jump__5126c,
.spoilerMarkdownContent__54ab5,
.total__260e1,
.blockquoteDivider__75297 {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}
.total__260e1:after {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    border: 0;
    left: -8px;
    width: 8px;
    height: 21px;
}

.guildIcon__35a7e,
.guildIconImage_d5f3cd,
.guildIcon_d5f3cd {
    background-color: transparent !important;
}

.connectContainer_c7f964, .connectionHeader_c7f964 {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
}

.connection_c7f964 {
    background: var(--bg-overlay-2, var(--background-secondary));
}
.sessionIcon__803f2 {
    background: var(--bg-overlay-6, var(--interactive-normal));
}

.friendRequestsButton__523aa, .emojiPicker_c0e32c,
.secondary__45d4f {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.container__0b563,
.wrapper_d5f3cd,
.iconWrapper__7e6bb,
.iconWrapper__54b20 {
    background: var(--bg-overlay-3, var(--background-secondary));
}

/*.iconWrapper__7e6bb,
.iconWrapper__54b20 {
    background: var(--bg-overlay-4, var(--background-accent));
}*/

.prompt__5d7c9,
.prompt_fe70ca,
.channelRow_e4503a,
.users__260e1,
.chatHeaderBar_dc83f5,
.moreUsers__183c2 {
    background: var(--bg-overlay-chat, var(--background-primary)) !important;
}

.optionButtonWrapper__270d7.selected__270d7,
.container__33507 {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    border-color: var(--background-tertiary);
}

.reaction__23977,
.navButtons_fe70ca,
.footer__49fc1 {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.wrapper_e131a9
    button.button__67645.enabled__67645.button__201d5.lookBlank__201d5.colorBrand__201d5.grow__201d5.button__67645 {
    width: 26px;
}

#vc-spotify-song-title::before,
#vc-spotify-song-title + div::before,
#vc-spotify-song-title + div + div::before {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-size: contain;
    padding: 7px;
    margin-left: -17px;
    margin-top: 2px;
    content: "";
    /* Spotify wave thingy fix */
    /*background-color: hsla(var(--spotify-vencord-text)/1);*/
    position: absolute;
}



#vc-spotify-song-title::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
}
#vc-spotify-song-title + div::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
}
#vc-spotify-song-title + div + div::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
}
/* */

/* */
#vc-spotify-player {
    height: 50px;
    background: transparent !important;
    position: relative;
    transition: height 0.1s ease;
    padding: 7px !important;
    padding-top: 8px !important;
}

#vc-spotify-player:hover {
    height: 115px;
}

#vc-spotify-progress-bar {
    margin: 11px 0 7px;
}
#vc-spotify-info-wrapper > img {
    height: 100%;
}
#vc-spotify-info-wrapper #vc-spotify-titles {
    margin-left: 15px;
}

#vc-spotify-player #vc-spotify-titles .size14_a4e6b9 {
    font-size: 13px;
}
.theme-dark #vc-spotify-song-title::before,
.theme-dark #vc-spotify-song-title + div::before,
.theme-dark #vc-spotify-song-title + div + div::before {
    background-color: rgba(255, 255, 255, 0.7)!important;
}
.theme-light #vc-spotify-song-title::before,
.theme-light #vc-spotify-song-title + div::before,
.theme-light #vc-spotify-song-title + div + div::before {
    background-color: rgba(0, 0, 0, 0.7)!important;
}
.theme-light #vc-spotify-player .colorStandard_c9946a {
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark #vc-spotify-player .colorStandard_c9946a {
    color: rgba(255, 255, 255, 0.8);
}

.theme-dark .vc-spotify-artist, .theme-dark  .vc-spotify-album {
    color: rgba(255, 255, 255, 0.8);
}
.theme-light .vc-spotify-artist, .theme-light  .vc-spotify-album {
    color: rgba(0, 0, 0, 0.8);
}

#vc-spotify-player .barFill_a562c8 {
    background-color: var(--interactive-active);
}
#vc-spotify-progress-bar > [class^="slider"] [class^="grabber"] {
    background-color: var(--interactive-active);
    border-color: var(--interactive-active);
    width: 12px !important;
    height: 12px !important;
    margin-top: 3px;
    opacity: 1 !important;
}
.vc-spotify-progress-time {
    top: 12px;
}
.vc-spotify-button {
    color: var(--interactive-active);
}
.vc-spotify-button:hover {
    background-color: color-mix(
        in srgb,
        var(--interactive-active),
        transparent 75%
    );
}
.vc-spotify-shuffle-on {
    color: var(--accent, (-green-360));
}
.vc-spotify-repeat-context {
    color: var(--accent, (-green-360));
}
.vc-spotify-repeat-track {
    color: var(--accent, (-green-360));
}
/* */

#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
    height: 206px;
}

#vc-spotify-progress-bar,
.vc-spotify-button-row {
    opacity: 0;
}

#vc-spotify-player:hover #vc-spotify-progress-bar,
#vc-spotify-player:hover .vc-spotify-button-row {
    opacity: 1;
}

#vc-spotify-album-expanded-wrapper ~ #vc-spotify-progress-bar {
    top: -90px;
    left: -11px;
    padding-top: 18px;
    margin-left: 0px !important;
    padding-right: 8px;
    width: 197px;
    padding-bottom: 38px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 8px;
    backdrop-filter: blur(18px) brightness(85%);
    box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025);
}
#vc-spotify-album-expanded-wrapper
    ~ #vc-spotify-progress-bar
    .vc-spotify-progress-time {
    display: none;
}
#vc-spotify-album-expanded-wrapper {
    margin-left: -11px;
    margin-top: -1px;
}

#vc-spotify-album-expanded-wrapper ~ .vc-spotify-button-row {
    top: -136px;
    position: relative;
}

.content_c48ade {
    border-top-left-radius: 8px;
}

.theme-dark .container__37e49,
.theme-light .container__37e49 {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

.botTagOP_e48ddb {
    color: var(--white-500);
}

.wrapper__44b0c.avatar_f75fb0 {
    display: none;
}

.lineClamp1__4bd52.text-md-semibold__8664f.name_f37cb1.name_f37cb1 {
    max-width: 201px;
    overflow: hidden;
    position: absolute;
}
.children__9293f {
    margin-left: 12px;
}

.actions_fc004c .actionButton_f8fa06:nth-child(1) {
    display: none;
}
.actions_fc004c .actionButton_f8fa06:nth-child(2) {
    display: none;
}
.peopleListItem_cc6179:hover .actionButton_f8fa06:nth-child(2) {
    display: flex;
}
.username__0a06e {
    overflow: visible;
}

.separator__00943 {
    display: none;
}
.wrapper__00943 {
    border: 0;
}

.animatedContainer_f37cb1 {
    border-top-left-radius: 8px;
}

.container__6764b {
    border: 0;
}
.bar_a562c8,
.container__6764b {
    background: var(--bg-overlay-chat, var(--background-primary)) !important;
}
#vc-spotify-player ~ .container__37e49 {
    border-top-left-radius: 8px;
    box-shadow: none;
}
.messagesWrapper__36d07 {
    background: var(--bg-overlay-app-frame, var(--background-primary));
}
.scroller__36d07,
.forumPost__7d15e,
.messages__1ccd1 {
    background: var(--bg-overlay-chat, var(--background-primary));
}

.sidebar_c48ade,
.panels_c48ade {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}
.panels_c48ade {
    border-top-right-radius: 8px;
}

.sidebar_c48ade:has(#vc-spotify-player) .container__2637a {
    /*border-bottom-left-radius: 8px;*/
    border-top-left-radius: 0;
}
#vc-spotify-player {
    border-top-right-radius: 8px;
}

.panels_c48ade:has(.container_e131a9),
.wrapper_e131a9 {
    border-top-right-radius: 10px;
}

.searchBar__35e86 {
    background: var(--bg-overlay-3, var(--background-secondary));
    border-top-left-radius: 8px;
}
.section__00943,
.messageContainer__95796 {
    background: var(--bg-overlay-chat, var(--background-primary));
}

nav.container__2637a {
    background: var(
        --bg-overlay-app-frame,
        var(--background-tertiary)
    ) !important;
}
.sidebar_c48ade {
    background: var(--bg-overlay-2, var(--background-secondary));
}

.container_f37cb1.clickable_f37cb1 {
    background: var(--bg-overlay-chat, var(--background-primary));
    border-top-left-radius: 8px;
}
.scroller__629e4 {
    background: var(--bg-overlay-2, var(--background-secondary));
    border-bottom-left-radius: 8px;
}
.scroller__99e7c {
    border-bottom-left-radius: 8px;
}
.privateChannels__35e86 {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

#vc-spotify-album-image {
    border-radius: 8px;
}
header.header_f37cb1,
.focused__55c99 {
    background: var(--bg-overlay-3, var(--background-secondary));
}

/* buttons */
.tertiary_ad6d80,
.button_f563df {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

.button__02a39 {
    background: var(--bg-overlay-3, var(--background-tertiary));
}


.colorable_f1ceac.primaryDark_f1ceac {
    background: var(--bg-overlay-3, var(--primary-630));
}
.colorable_f1ceac.primaryLight_f1ceac {
    background: var(--bg-overlay-1, var(--primary-860));
}

iframe.embedSpotify__623de.embedWrapper_b7e1cb {
    width: 100% !important;
    min-width: 224px;
    max-width: 400px;
}

.pill_a2c9e8 {
    background: var(--bg-overlay-4, var(--background-secondary-alt));
    border: 0px;
}
.divider_ee23ac {
    visibility: hidden;
}

.theme-dark,
.theme-light {
    --info-warning-foreground: var(--os-accent-color);
}


.theme-dark .mentioned__5126c:hover {
    background: color-mix(in srgb, var(--brand-500), transparent 75%)!important;
}
.mouse-mode.full-motion .message__5126c.mentioned__5126c:hover,  .message__5126c.mentioned__5126c:hover {
    background: color-mix(in srgb, var(--brand-500), transparent 75%)!important;
}

.mentioned__5126c {
    background: color-mix(in srgb, var(--brand-500), transparent 75%)!important;
}

.theme-dark .mentioned__5126c.selected__5126c {
    background: color-mix(in srgb, var(--brand-600), transparent 75%)!important;
}
.theme-light .mentioned__5126c.selected__5126c{
    background: color-mix(in srgb, var(--brand-360), transparent 75%)!important;
}
.mentioned__5126c {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

/*fix better5folder border*/
.folderPreviewWrapper__48112 {
    border-radius: 10px;
}

.scroller__7d20c {
    border-left: 0;
}

.actionButtons_e131a9 .lookFilled__201d5.colorPrimary__201d5,
.wrapper_f7ecac {
    background: var(--bg-overlay-5, var(--background-primary));
}
.navButtonActive__08434 {
    background: var(--bg-overlay-5, var(--background-accent));
}

.theme-dark .scroller__629e4 {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.scroller_c1e9c4,
.resultsGroup__56fec {
    background: var(--bg-overlay-3, var(--background-secondary));
}
.option__56fec::after {
    display: none;
}

.popout__76f04 {
    background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark .embedFull__623de {
    border-left: 4px solid rgba(255, 255, 255, 0.03);
}
.theme-light .embedFull__623de {
    border-left: 4px solid rgba(0, 0, 0, 0.03);
}

.fieldList__1fed1, .wrapper__14245 {
    background: transparent;
}

.container__9271d,
.searchResultsWrap_a9e706,
.embedFull__623de,
.contentWrapper__08434,
.emptyCard__7e549,
.footer__45690,
.messagesPopoutWrap__45690,
.accountProfileCard__1fed1,
.channelHeader__35a7e,
.container_d9c882,
.sidebarRegionScroller__23e6b,
.wrapper__00943,
.header_c0e32c {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.inspector_aeaaeb,
.card__88264 {
    background: var(--bg-overlay-2, var(--background-secondary-alt));
}

.mainCard_f369db {
    background: var(--bg-overlay-3, var(--background-primary));
}

.container_faa96b {
    border: 0px;
}

.container_faa96b:hover {
    background: var(--bg-overlay-4, var(--background-primary));
}

.container_faa96b.isOpen_faa96b {
    background: var(--bg-overlay-selected, (--background-modifier-selected))!important;
}


code,
.searchHeader_f3b986,
.header__45690,
.header_d0b769,
.header_d9c882,
.wrapper__4e6ce {
    background: var(--bg-overlay-3, var(--background-secondary)) !important;
}
code {
    border: 0 !important;
}

.container_fea832,
.wrapper__4e6ce {
    background: var(
        --bg-overlay-app-frame,
        var(--background-tertiary)
    ) !important;
}

.overlayBackground_c69a7b:not(.userPopoutOverlayBackground_c69a7b),
.messageGroupWrapper__45690,
.background__1fed1,
.contentRegionScroller__23e6b,
.contentRegion__23e6b {
    background: var(--bg-overlay-chat, var(--background-primary));
}

.searchResult__02a39 {
    background: var(--bg-overlay-4, var(--background-primary));
}

.root__49fc1, .scrollTierBackground__35455 {
    background: var(--bg-overlay-chat, var(--background-primary));
}

.giftButton_ff61dc {
    display: none;
}
.container__34c2c {
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px ;
}

.modalHeader__52f07 {
    background: var(--bg-overlay-chat, var(--background-primary));
}
.activityItem__18da2{
    background: var(--bg-overlay-2, var(--background-secondary));   
}

.picker__09f65 {
    background: var(--bg-overlay-2, var(--background-floating));

}
.activityTag__18da2{
    background: var(--bg-overlay-4, var(--background-tertiary));   
   
}
.container__01ae2.floating__01ae2 {
    background: var(--bg-overlay-2, var(--background-secondary));
}

.soundButton__9be63,.activityItem__18da2:hover {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.sectionDivider__629e4,
.container_eff079:after {
    visibility: hidden;
}

.form_f75fb0 {
    box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025);
}
.panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9, .container__37e49):not(:empty) {
    box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025);
}

.panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty) {

    margin-left: 0px !important;
    border-top-right-radius: 11px;
}

.panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9, .container__37e49):not(:empty) ~ div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9, .container__37e49):not(:empty),
.panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9, .container__37e49):not(:empty) > div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9, .container__37e49):not(:empty){
    box-shadow: none;
    border-top-right-radius: 0px;
}


/*.panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty) > div {
    margin-left: -6px;
}
.panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty) > div ~ div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty) > div{
}*/


div#vc-spotify-info-wrapper {
    margin-left: -4px;
}
div#vc-spotify-progress-bar {
    margin-left: -4px;
}

/*section.panels_c48ade{
    overflow: hidden;
}*/

::-webkit-scrollbar-track {
    visibility: hidden;
}


.message__5126c
    .scrollableContainer__74017.themedBackground__74017.webkit__8d35a {
    border-radius: 8px;
}

.bar__7aaec {
    background: none;
    box-shadow: none;
}

.platform-win .scroller_ef3116,
.platform-osx .scroller_ef3116 {
    padding-top: 0px;
}

.guildSeparator__252b6 {
    display: none;
}

.sidebar_c48ade {
    background: transparent;
}

.container__2637a:after {
    left: 4px !important;
}

.peopleListItem_cc6179 {
    border-top: 0;
}

.clipContainer__841c8 {
    padding-top: 0px;
    margin-top: 0px;
}

.wrapper__44df5 {
    margin-bottom: 0px;
    padding-bottom: 17px;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    border-radius: 0;
}

.divider_ae36e5 {
    background-color: transparent;
}
.mutualFriendsDivider_b433b4 {
    border-top: 0;
}

form.form_f75fb0 {
    bottom: -2px;
    top: 0px;
}

.theme-light .form_f75fb0 {
    background: transparent !important;
    margin-top: 0px;
}
.theme-dark .form_f75fb0 {
    background: transparent !important;
    margin-top: 0px;
}
.theme-light .header_f37cb1 {
    border-top-left-radius: 8px !important;
}
.theme-dark .header_f37cb1 {
    border-top-left-radius: 8px !important;
}
nav.container__2637a {
    border-top-left-radius: 8px;
}
.theme-dark .header_f37cb1 {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.theme-dark .searchBar__35e86 {
    border-top-left-radius: 8px !important;
}
.theme-light .searchBar__35e86 {
    border-top-left-radius: 8px !important;
}

.theme-dark .wrapper_e131a9 .container_e131a9,
.theme-light .wrapper_e131a9 .container_e131a9 {
    background: transparent;
}

.container_e131a9 {
    border-bottom: 0px;
    padding-left: 4px;
}

.channelTextArea_f75fb0 {
    height: 100%;
}

.channelTextArea__74017 {
    border-radius: 0px;
}

.theme-light .container_c8ffbb,
.theme-light .member_c8ffbb,
.theme-light .members_c8ffbb {
    background: var(--bg-overlay-4, var(--background-secondary-alt));
}

.theme-dark .container_c8ffbb,
.theme-dark .member_c8ffbb,
.theme-dark .members_c8ffbb {
    background: var(--bg-overlay-2, var(--background-secondary-alt));
}

.theme-light span.username_d272d6 {
    color: #474747 !important;
}

.theme-light .membersGroup_c8ffbb span span {
    color: gray !important;
}

.children__9293f .iconWrapper__9293f {
    display: none;
}

.searchBar__97492 {
    width: 22px;
}
.buttonContainer_aa63ab button:disabled {
    display: none;
}

.theme-light .unreadImportant__2ea32,
.theme-light .item__58105 {
    background-color: rgba(0, 0, 0, 0.66);
}
.item__58105 {
    margin-left: -3px;
}

[class*="timestamp"][class*="CompactTimeStamp"] {
    opacity: 0;
    will-change: opacity;
}
[class*="messageListItem"]
    > [class*="message"]:hover
    [class*="timestamp"][class*="CompactTimeStamp"] {
    opacity: 1;
}

separator_aa63ab button[disabled] {
    display: none !important;
}
.separator_aa63ab::before {
    display: none !important;
}
.separator_aa63ab {
    margin-left: 0px;
}





.emptyChannelIcon__00de6 {
    background: var(--bg-overlay-4, var(--background-accent)) !important;
}
.numberBadge__40d6f {
    --status-danger: var(--accent);
}

.panel__5dec7.activityPanel_c48ade {
    border-top-right-radius: 8px;
    background: transparent;
}

.scrollableContainer__74017.themedBackground__74017.webkit__8d35a {
    /*margin-right: -12px;*/
    width: 100%;
}
.webkit__8d35a .buttons__74017 {
    margin-right: 8px;
}

.activityPanel_c48ade {
    border-bottom: 0px;
}


.sansAttachButton__74017:after {
    top: -2px !important;
}

/*.container__37e49, .panel__5dec7.activityPanel_c48ade {
background: var(--bg-overlay-4,var(--background-tertiary))!important;

}*/

#vc-spotify-player {
    border-bottom: 0px;
    background: var(
        --bg-overlay-app-frame,
        var(--background-tertiary)
    ) !important;
}

.chat_f75fb0 .title_f75fb0:not(.forumOrHome__49676) .upperContainer_fc4f .toolbar__9293f .iconWrapper__9293f:nth-child(2),   
/*[aria-label="Start Video Call"],
[aria-label="Videohívás indítása"]*/
.akaBadge__27cd4,
.chat_f75fb0 .upperContainer_fc4f .toolbar__9293f .iconWrapper__9293f:nth-child(5), 
/*[aria-label="Show User Profile (Unavailable)"], 
[aria-label="Felhasználói profil megjelenítése (Nem érhető el)"], */
.chat_f75fb0 .toolbar__9293f .anchor_edefb8 {
    display: none !important;
}

@media only screen and (min-width: 639px) {
    .attachButton__74017 {
        margin-left: -7px;
        margin-right: 7px;
    }
}

@media only screen and (max-width: 418px) {
    .lineClamp1__4bd52.text-md-semibold__8664f.name_f37cb1.name_f37cb1 {
        max-width: calc(100vw - 277px) !important;
    }

    /*szerver sáv*/
    .wrapper_cc5dd2 {
        width: 32px;
        height: 32px;
    }
    .svg_cc5dd2 {
        width: 32px;
        height: 33px;
    }
    .wrapper__58105 {
        height: 32px;
    }

    .listItem__650eb {
        width: 50px;
    }

    .folderGroupBackground__48112 {
        left: 9px;

        width: 32px;
    }
    .guilds_c48ade {
        width: 50px;
    }

    .guildSeparator__252b6 {
        margin-top: 3.5px;
    }

    
}

@media only screen and (max-width: 380px) {


    .font-size-16 .cozy_c19a55.hasThread_c19a55:after,
    .font-size-15 .cozy_c19a55.hasThread_c19a55:after,
    .font-size-14 .cozy_c19a55.hasThread_c19a55:after,
    .font-size-12 .cozy_c19a55.hasThread_c19a55:after {
        left: 0px;
        top: 3rem;
    }

    .lineClamp1__4bd52.text-md-semibold__8664f.name_f37cb1.name_f37cb1 {
        max-width: calc(100vw - 189px) !important;
    }

    img.avatar_c19a55.clickable_c19a55, 
.toolbar__9293f .iconWrapper__9293f:nth-child(3),
/*[aria-label="Kitűzött üzenetek"], 
[aria-label="Pinned Messages"], */
/*.search__49676,*/ .toolbar__9293f .anchor_edefb8, .attachButton__0923f, 
.buttonContainer_aa63ab, [aria-label="Open Translate Modal"],
.timestamp_c19a55,
.vc-platform-indicator,
 span.vc-smyn-suffix, .text-xs-semibold__767f1.barText__7aaec,.akaBadge__27cd4,
 .avatarDecoration_c19a55 {
        display: none !important;
    }

    .a11y-font-scaled-down .cozy_c19a55.wrapper_c19a55,
    .a11y-font-scaled-down .cozy_c19a55.wrapper_c19a55 .header_c19a55 {
        padding-left: 42px;
    }
    .cozy_c19a55.wrapper_c19a55 {
        margin-top: 0px;
    }
    .searchBarComponent__35e86 {
        position: relative;
        overflow: hidden;
    }
    .message__5126c {
        padding-right: 4px !important;
        padding-left: 18px !important;
    }
    .groupStart__5126c {
        margin-top: 12px !important;
    }

    .searchBarComponent__35e86::before {
        content: "⌕"; /* Unicode karakterkód a nagyító ikonhoz */
        display: inline-block;
        margin-right: 15px; /* Opcionális: Távolság az ikon és a gomb szövege között */
        font-size: 32px; /* Opcionális: Az ikon mérete */
    }

    .searchBarComponent__35e86::after {
        content: attr(aria-label);
        position: absolute;
        left: 100%;
        opacity: 0;
    }

}

@media only screen and (max-width: 337px) {

    .sidebar_c48ade:not(:hover) .connection_e131a9 a .subtext__339d0 {
    margin-left: -6px!important;
    }

    .form_f75fb0 .buttons__74017, .recentsIcon_c99c29 {
        display: none;
    }

    .lineClamp1__4bd52.text-md-semibold__8664f.name_f37cb1.name_f37cb1 {
        max-width: calc(100vw - 137px) !important;
    }

    :has(.sidebar_c48ade:not(:hover)) .guilds_c48ade, .guilds_c48ade:not(:hover) {
        display: none;
    }

    .sidebar_c48ade:not(:hover) #vc-spotify-player {
        padding-left: 8px !important;
    }

    #vc-spotify-progress-bar > [class^="slider"] {
        padding-left: 1px !important;
    }
}

@media only screen and (max-width: 780px) {
    .container_cc72c1 span:not(.headerText__99e7c) {
        max-width: 59px !important;
        overflow: hidden;
        display: inline-block;
        white-space: normal;
    }

    h3.membersGroup_c8ffbb.container_cc72c1 {
        padding-left: 1px !important;
        align-items: center;
        display: flex;
        text-align: center;
    }

    .container_c8ffbb {
        width: 60px;
    }
    .membersWrap_c8ffbb {
        min-width: fit-content;
    }
}

.sidebar_c48ade .subtext__339d0 {
        width: 149px;
}


/* Médialekérdezések 638 pixel szélesség alatt */
@media only screen and (max-width: 638px) {

    .headerChildren_f37cb1 {
        display: none !important;
    }

    .caret__9293f, .title__9293f {
    display: none;
    }

    .container_f37cb1.clickable_f37cb1{
        z-index: 91!important;
    }

    .sidebar_c48ade:not(:hover) .bannerVisible_f37cb1 > .header_f37cb1{
        box-shadow:
            0 1px 0 rgba(0, 0, 0, 0.05),
            0 1.5px 0 rgba(0, 0, 0, 0.025),
            0 2px 0 rgba(0, 0, 0, 0.025) !important;    
    }

    .sidebar_c48ade:not(:hover) .headerContent_f37cb1 {
    color: var(--header-primary)!important;
    filter:none!important;
    }
    .title_f75fb0 {
      z-index: 90;
    }
    header.header_f37cb1 {
        z-index: 91;
    }

    .sidebar_c48ade:not(:hover) #vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
        margin-left: 5px!important;
        padding-left: 2px!important;
        padding-right: 3px!important;
        padding-bottom: 10px!important;
        padding-top: 0px!important;
    }

    .animatedContainer_f37cb1 {
        visibility: hidden;
    }

    .flex__7c0ba.horizontal__7c0ba.justifyStart_abf706.alignStretch_abf706.noWrap_abf706:nth-child(
            2
        ),
    .sidebar_c48ade:not(:hover) .labelWrapper_c0cb95 {
        visibility: hidden;
    }

    .sidebar_c48ade:not(:hover) .inner_e131a9 {
        z-index: 98;
        overflow: visible;
    }
    .sidebar_c48ade:not(:hover) .rtcConnectionStatus_c0cb95{
        overflow: visible;
        margin-left: 7px;
    }
    .sidebar_c48ade:not(:hover) .connection_e131a9 .subtext__339d0 {
        margin-left: -8px!important;
    }


    .sidebar_c48ade:not(:hover) .actionButtons_e131a9 {
        display: none;
    }


    .sidebar_c48ade:not(:hover) .subtext__339d0 {
        overflow: hidden;
        margin-left: -2px;
        width: 44px;
    }

    .lineClamp1__4bd52.text-md-semibold__8664f.name_f37cb1.name_f37cb1 {
        max-width: calc(100vw - 299px);
    }

    .theme-dark .scroller__629e4,
    .theme-light .scroller__629e4 {
        background: var(--bg-overlay-chat, var(--background-primary));
    }

    .withTagAsButton_b2ca13 {
        min-width: 40px;
    }

    .sidebar_c48ade {
        overflow: visible!important;
    }
    .topic__6ec1a {
        display: none;
    }
    .name_f37cb1 {
        overflow: visible;
    }

    h1.defaultColor_b717a1.heading-md-semibold__76ba1.defaultColor_e9e35f.cursorPointer_f75fb0.title__9293f {
        display: block !important;
    }

    .actions_bf1a22 {
        visibility: hidden;
    }

    .vc-spotify-time-right.modeDefault_ddd181,
    .vc-spotify-titles,
    .vc-spotify-button-row {
        display: none !important;
    }

    #vc-spotify-titles {
        visibility: hidden;
    }
    
    .searchBarComponent__35e86::before {
        content: "⌕"; /* Unicode karakterkód a nagyító ikonhoz */
        display: inline-block;
        margin-right: 15px; /* Opcionális: Távolság az ikon és a gomb szövege között */
        font-size: 32px; /* Opcionális: Az ikon mérete */
    }
    button.attachButton__0923f.attachButton__74017.button__201d5 {
        margin-left: 1px;
        padding-right: 15px;
    }

    .message__5126c.cozyMessage__5126c {
        padding-right: 10px !important;
    }
    img.avatar_c19a55.clickable_c19a55 {
        margin-left: -4px;
    }
    .container_b7e1cb {
        margin-left: -7px;
    }

    .searchBarComponent__35e86::after {
        content: attr(aria-label);
        position: absolute;
        left: 100%;
        opacity: 0;
    }

    .sidebar_c48ade {
        width: 50px !important;
        transition: width 0.1s ease;
    }

    .nameTag__37e49.canCopy__37e49 {
        visibility: hidden;
    }

    h2.privateChannelsHeaderContainer__99e7c.container_cc72c1,
    .toolbar__9293f .anchor_edefb8,
    .text-xs-semibold__767f1.barText__7aaec {
        display: none;
    }

    .bar__7aaec {
        padding: 2px 2px;
    }

    .sidebar_c48ade > :not(.privateChannels__35e86) .content__99f8c {
        visibility: hidden;
    }

    .layout__20a53 {
        padding: 0;
    }
    .link__972a0 {
        overflow: visible;
    }
    .sidebar_c48ade:not(:hover)
        #vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
        height: 50px;
    }

    #vc-spotify-player {
        margin-bottom: -13px;
    }
    #vc-spotify-info-wrapper #vc-spotify-album-image {
        margin-left: -7px;
        margin-bottom: 10px;
    }

    .sidebar_c48ade:hover #vc-spotify-player {
        margin-bottom: 0px;
    }
    .sidebar_c48ade:hover #vc-spotify-info-wrapper #vc-spotify-album-image {
        margin-bottom: 0px;
    }

    .sidebar_c48ade:hover,
    .sidebar_c48ade *:hover .sidebar_c48ade {
        width: 220px !important;
        transition: width 0.1s ease;
    }

    .sidebar_c48ade:hover .content__99f8c,
    .sidebar_c48ade:hover .avatarWrapper__37e49,
    .sidebar_c48ade:hover #vc-spotify-titles,
    .sidebar_c48ade:hover .nameTag__37e49.canCopy__37e49,
    .sidebar_c48ade:hover
        .flex__7c0ba.horizontal__7c0ba.justifyStart_abf706.alignStretch_abf706.noWrap_abf706 {
        visibility: visible !important;
    }
    .sidebar_c48ade:hover + .chat_f75fb0,
    .sidebar_c48ade:hover + .chat_f75fb0 .content_f75fb0:before {
        margin-left: 0px !important;
    }

    .sidebar_c48ade:hover .animatedContainer_f37cb1 {
        visibility: visible;
    }

    .sidebar_c48ade:hover .vc-spotify-button-row {
        display: flex !important;
    }
    .sidebar_c48ade:hover .withTagAsButton_b2ca13 {
        min-width: 120px;
    }

    .sidebar_c48ade:hover .actions_bf1a22 {
        visibility: visible !important;
    }
    .theme-light .sidebar_c48ade:hover .scroller__629e4 {
        background: var(--bg-overlay-2, var(--background-secondary)) !important;
    }
    .theme-dark .sidebar_c48ade:hover .scroller__629e4 {
        background: var(--bg-overlay-3, var(--background-secondary)) !important;
    }

    .theme-light .sidebar_c48ade:hover,
    .theme-dark .sidebar_c48ade:hover {
        background: var(--bg-overlay-app-frame, var(--background-tertiary));
    }






}
.theme-dark :not(.bannerVisible_f37cb1) > .header_f37cb1,
.theme-light :not(.bannerVisible_f37cb1) > .header_f37cb1 {
    background: var(--bg-overlay-chat, var(--background-primary));
}

.panels_c48ade
    .flex__7c0ba.horizontal__7c0ba.justifyStart_abf706.alignStretch_abf706.noWrap_abf706 {
    margin-left: -16px;
}

.jumpToPresentBar__0f481,
.mention__3b95d {
    background: var(--bg-overlay-app-frame, var(--accent));
    backdrop-filter: blur(7px);
}
.botTagRegular_c89c9a {
    background: var(--bg-overlay-app-frame, var(--accent));
}

.newMessagesBar__0f481 {
    background: var(--bg-overlay-app-frame, var(--accent));
    backdrop-filter: blur(7px);
}
.theme-light .wrapper_a7c28c.interactive:not([style]),
.theme-light .wrapper_a7c28c:not(.mention) {
    background: var(--bg-overlay-4, var(--accent));
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark .wrapper_a7c28c.interactive:not([style]),
.theme-dark .wrapper_a7c28c:not(.mention) {
    background: var(--bg-overlay-4, var(--accent));
    color: rgba(255, 255, 255, 0.8);
}

:root {
    --brand-430: color-mix(in hsl, var(--accent) 90%, white);
    --brand-300: color-mix(in hsl, var(--accent) 50%, white);
    --brand-360: color-mix(in hsl, var(--accent) 60%, white);
    --brand-500: var(--accent);
    --brand-560: color-mix(in hsl, var(--accent) 90%, black);
    --brand-600: color-mix(in hsl, var(--accent) 80%, black);

}

.vc-addon-card {
    background: var(--bg-overlay-4, var(--background-secondary-alt));
}

.input__0f084 {
    background: var(--bg-overlay-3, var(--input-background));
}

.itemFilled__001a7 {
    background: var(--bg-overlay-3,var(--background-secondary));
}

.itemFilled__001a7[aria-checked=true] {
    background: var(--bg-overlay-selected, var(--background-modifier-selected));
}
.itemFilled__001a7:hover:not([aria-checked=true]):not(.disabled__001a7) {
    background: var(--bg-overlay-5, var(--background-modifier-hover));
}



.option__3f413:focus, .option__3f413:hover, .option__3f413.focused__3f413 {
    background: var(--bg-overlay-5, var(--background-modifier-hover));
}
.itemFilled__001a7:active:not([aria-checked=true]):not(.disabled__001a7) {
    background: var(--bg-overlay-4, var(--background-modifier-active));
}


.topPill_b3f026 .themed_b3f026.selected_b3f026.item_b3f026, .side_b3f026 .themed_b3f026.selected_b3f026.item_b3f026 {
    background: var(--bg-overlay-selected, var(--background-modifier-selected));
}



.topPill_b3f026 .themed_b3f026.item_b3f026:hover:not(.disabled_b3f026), .side_b3f026 .themed_b3f026.item_b3f026:hover:not(.disabled_b3f026) {
    background: var(--bg-overlay-5, var(--background-modifier-hover));
}
.topPill_b3f026 .themed_b3f026.item_b3f026:active:not(.disabled_b3f026), .side_b3f026 .themed_b3f026.item_b3f026:active:not(.disabled_b3f026) {
    background: var(--bg-overlay-4, var(--background-modifier-active));}




.linkTop__2ea32 .iconContainer__2ea32 .icon__2ea32 {
    opacity: 60% !important;
}

.sidebar_c48ade {
    width: 220px;
}
.form_f75fb0 {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -8px;
}
.sansAttachButton__74017 {
    padding-top: 4px;
    padding-bottom: 5px;
}

.channelTextArea_f75fb0 {
    margin-bottom: 0px;
}
.scrollableContainer__74017 {
    border-radius: 0px;
}

.base_b88801 {
    bottom: 53px;
    height: 18px;
}
.base_b88801 .cooldownWrapper_b21699 {
    margin-right: 0;
    background: var(--bg-overlay-2, var(--background-tertiary));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 3px;
    line-height: 17px;
}
.fontSize15Padding__74017 {
    padding-bottom: 12px;
    padding-top: 11px;
}

/*[aria-label="GIF válogató megnyitása"]{display:none;}
[aria-label="Open GIF picker"]{display:none;}
[aria-label="Matricaválogató megnyitása"]{display:none;}
[aria-label="Open sticker picker"]{display:none;}*/

/*Nukes the discord branding*/
[class^="wordmarkWindows"],
[class^="typeWindows-"]:not([class*="withBackgroundOverride"]),
#app-mount:has([class^="pageWrapper"]) > [class^="typeWindows"] {
    display: none;
}

/* "GIF" text in profile banner GONE*/

[class*="gifTag"] {
    display: none;
}

.buttons__74017 > button
/* Hide Nitro gift button */
/*button[aria-label="Send a gift"] */ {
    display: none;
}

div > [href="/store"], div > [href="/shop"]/* Nitro Button above DM List */ {
    display: none /*!important*/;
}

.divider__908e2 :not(#---new-messages-bar) {
    border-top: 0 !important;
}
.container__37e49 {
    height: 52px;
    padding-left: 3px;
}

.divider__9293f {
    display: none;
}

.customColumn__23e6b,
.contentColumn__23e6b {
    min-width: 338px;
}
.contentRegionScroller__23e6b .tools__23e6b {
    top: 36px;
    right: 0px;
    position: fixed;
}
.keybind_c2b141 {
    margin-top: -24px;
    margin-right: 76px;
}
.sidebar__23e6b {
    width: 176px;
}

#my-account-tab .bannerSVGWrapper_b32cc2 circle {
    display: none;
}
.avatar__1fed1 {
    top: 46px;
    left: 22px;
}

#my-account-tab .bannerSVGWrapper_b32cc2 {
    min-width: 100px !important;
    min-height: 10px !important;
}

@media only screen and (max-width: 683px) {

    .buttons__74017 .buttonContainer__74017 .stickerButton__74017, 
    .buttons__74017 .buttonContainer__74017 .button__24af7  {
        display: none;
    }

    .customColumn__23e6b,
    .contentColumn__23e6b {
        padding: 60px 25px 80px;
    }
}

@media (max-width: 1200px) {
    .nowPlayingColumn__133bf {
        display: block;
    }
}

@media (max-width: 1080px) {
    .topPill_b3f026 .item_b3f026 {
        margin: 0;
    }
}
@media (max-width: 1020px) {
    .nowPlayingColumn__133bf {
        min-width: 296px;
    }
}
@media (max-width: 939px) {
    .nowPlayingColumn__133bf {
        display: none;
    }
}
@media (max-width: 902px) {
    .tabBar__133bf .item__133bf:nth-child(4) {
        display: none;
    }
}
@media (max-width: 788px) {
    .tabBar__133bf .item__133bf:nth-child(3) {
        display: none;
    }
}
@media (max-width: 465px) {
    .tabBar__133bf .item__133bf:nth-child(5) {
        display: none;
    }
}
@media (max-width: 804px) {
.list_f369db>div:first-child, .headerRow_f369db {
    min-width: 0px!important;

}

.list_f369db>div:first-child {
    padding-left: 8px;
    padding-right: 0px;
}
}


.channelTextArea_f75fb0 {
    background: var(--bg-overlay-chat, var(--background-primary)) !important;
}
.themedBackground__74017 {
    background: var(--bg-overlay-3, var(--background-secondary));
    /*mask-image: linear-gradient(to right, 
    black, rgba(0, 0, 0, 0.5) 6%, rgba(0, 0, 0, 0.5) 60%, black 100%);*/
}

.guildIconV2Container__85d16 div{
    display: none;
}

.nav.container__2637a {
    border-top-left-radius: 0px !important;
}

.cozy_c19a55.hasThread_c19a55:after {
    background: var(--bg-overlay-3, var(--background-secondary));
    border: none;
    border-bottom-left-radius: 10px;
    clip-path: polygon(
        0 0,
        2px 0,
        2px calc(100% - 10px),
        2.062px calc(100% - 9px),
        2.25px calc(100% - 8px),
        3.07px calc(100% - 6px),
        4.71px calc(100% - 4px),
        6.13px calc(100% - 3px),
        10px calc(100% - 2px),
        100% calc(100% - 2px),
        100% 100%,
        0 100%
    );
}
.repliedMessage_c19a55:before {
    border-top-left-radius: 10px;
    background: var(--bg-overlay-3, var(--background-secondary));
    border: none;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 2px,
        10px 2px,
        6.13px 3px,
        4.71px 4px,
        3.07px 6px,
        2.25px 8px,
        2.062px 9px,
        2px 10px,
        2px 100%,
        0 100%
    );
}

.wrapper_cb9592.minimum_cb9592 {
        background: var(--bg-overlay-app-frame, var(--background-tertiary));
}
.content_c48ade:has(.wrapper_cb9592) .searchBar__35e86 {
    border-top-right-radius: 8px;
}

.progressBarContainer_eff079.bar_eff079.progressBarContainerComplete_eff079 {
    display: none;
}
.bannerImg_f37cb1 {
    width: 220px;
}

.divider__908e2 {
    --divider-color: var(--brand-experiment);
}

.icon__235ca.iconSize__235ca {
    background: var(--brand-experiment) !important;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg height='18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m18 0h-18v18h18z'/%3E%3Cpath d='m0 8h14.2l-3.6-3.6 1.4-1.4 6 6-6 6-1.4-1.4 3.6-3.6h-14.2' fill='%233ba55c'/%3E%3C/g%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg height='18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m18 0h-18v18h18z'/%3E%3Cpath d='m0 8h14.2l-3.6-3.6 1.4-1.4 6 6-6 6-1.4-1.4 3.6-3.6h-14.2' fill='%233ba55c'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 100% 100%; /* Állítsuk be az SVG méretét a teljes háttértérszínre */
    background-position: center; /* Középre igazítjuk a háttérképet */
    padding-right: 2px;
}

.userJoinSystemMessageIcon_c19a55 path {
    fill: var(
        --brand-experiment
    ) !important; 
}

.categoryItemDefaultCategorySelected_b9ee0c,
.categoryItemDefaultCategorySelected_b9ee0c:hover {
    background: var(--bg-overlay-chat, var(--background-primary)) !important;
}

.panels_c48ade {
    margin-left: 4px !important;
}

.theme-dark .sidebar_c48ade:hover .scroller__629e4 {
    background: var(--bg-overlay-3, var(--background-secondary)) !important;
}

.theme-light .sidebar_c48ade:hover .scroller__629e4 {
    background: var(--bg-overlay-2, var(--background-secondary)) !important;
}

.panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty)::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    right: 0;
    width: 12px; 
    height: 12px;
    background: var(--bg-overlay-2, var(--background-secondary));
    opacity: 100%;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        96% 60%,
        89% 43%,
        79% 28%,
        64% 14%,
        47% 7%,
        30% 3%
    );
}
.panels_c48ade div:is(.container_e131a9, .container_6sXIoE, 
.panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty) > div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, 
#vc-spotify-player, .wrapper_e131a9):not(:empty)::before,
.panels_c48ade div:is(.container_e131a9, .container_6sXIoE, 
.panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty) ~ div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, 
#vc-spotify-player, .wrapper_e131a9):not(:empty)::before{
    display: none;
}



.theme-light .panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty)::before {

    background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty)::before {

    background: var(--bg-overlay-3, var(--background-secondary));
}




@media only screen and (max-width: 638px) {
    .theme-dark .scroller__629e4, 
    .theme-light .scroller__629e4 {
        background: var(
            --bg-overlay-chat,
            var(--background-primary)
        ) !important;
    }

    /*Responsive forum section*/

    .theme-dark .content_c48ade:has(.forumOrHome__49676) .sidebar_c48ade:not(:hover) .scroller__629e4 {
        background: var(--bg-overlay-home, var(--home-background))!important;
    }
    .theme-light .content_c48ade:has(.forumOrHome__49676) .sidebar_c48ade:not(:hover) .scroller__629e4 {
        background: var(--bg-overlay-1, var(--home-background))!important;
    }
    section.panels_c48ade {
    position: relative;
    }

    .content_c48ade:has(.forumOrHome__49676) .sidebar_c48ade:not(:hover) .panels_c48ade:before{
        content: ""; 
        position: absolute; 
        top: 0; 
        right: 0;
        width: 12px; 
        height: 12px;
        opacity: 100%;
        z-index: 1;
        clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        96% 60%,
        89% 43%,
        79% 28%,
        64% 14%,
        47% 7%,
        30% 3%
    )!important;
    display:inherit!important;
    }
    .theme-dark .content_c48ade:has(.forumOrHome__49676) .sidebar_c48ade:not(:hover) .panels_c48ade:before{
        background: var(--bg-overlay-home, var(--home-background));
    }
    .theme-light .content_c48ade:has(.forumOrHome__49676) .sidebar_c48ade:not(:hover) .panels_c48ade:before{
        background: var(--bg-overlay-1, var(--home-background));
    }


    .content_c48ade:has(.forumOrHome__49676) .sidebar_c48ade:not(:hover) .container__37e49 {
        width: 32px;
        border-top-right-radius: 8px;
    }

    /*-----*/

    .panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty)::before {
        background: var(
            --bg-overlay-chat,
            var(--background-primary)
        ) !important;
    }

    .theme-light
        .privateChannels__35e86
        ~ .panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty)::before {
        background: var(--bg-overlay-2, var(--background-secondary)) !important;
    }
    .theme-dark
        .privateChannels__35e86
        ~ .panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty)::before {
        background: var(--bg-overlay-3, var(--background-secondary)) !important;
    }

    .theme-light
        .sidebar_c48ade:hover
        .panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty)::before {
        background: var(--bg-overlay-2, var(--background-secondary)) !important;
    }
    .theme-dark
        .sidebar_c48ade:hover
        .panels_c48ade div:is(.container_e131a9, .container_6sXIoE, .panel__5dec7, #vc-spotify-player, .wrapper_e131a9):not(:empty)::before {
        background: var(--bg-overlay-3, var(--background-secondary)) !important;
    }
}



.form_f75fb0 .lookFilled__201d5.colorPrimary__201d5 {
    background: var(--bg-overlay-6, var(--background-accent));
}






.search__97492:not(.open__97492) .iconLayout_fea832 {
  cursor: pointer!important;
}

.search__97492:not(.open__97492) .searchBar__97492 {
  width: 22px;
  background-color: transparent;
}

.search__97492:not(.open__97492) .iconContainer_fea832 {
  transform: scale(1.4);
}

.search__97492:not(.open__97492) .icon_fea832 {
  color: var(--interactive);
}

.search__97492:not(.open__97492):hover .icon_fea832 {
  color: var(--interactive-active);
}

.jumpToPresentBar__0f481 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.botTagAI_f6af2f {
    background: var(--bg-overlay-6, var(--background-accent));
}
